<!-- cover -->
<section class="p-0">
  <div class="swiper-container text-white"
    data-top-top="transform: translateY(0px);" 
    data-top-bottom="transform: translateY(250px);">
    <div class="swiper-wrapper ">
      <div class="swiper-slide vh-100 ">
        <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
        rgba(0, 0, 0, 0.3),
        #161c1d  ),url(../../assets/cooodit/cooodit-cover.png)"></div>
        <div class="caption">
            <div class="container">
              <div class="row vh-100">
                <div class="col-md-12 align-self-center text-center" data-swiper-parallax-y="-250%">
                  <h1 class="display-3">Nous apprenons aux enfants à <b class="font-weight-bold text-primary" id="typed"></b></h1>
                  <div id="typed-strings">
                      <p>coder</p>
                      <p>imaginer</p>
                      <p>créer</p>
                  </div>
                  <p class="text-white">Découvrez nos ateliers pour apprendre à coder pour enfants de 7 à 17 ans</p>
                  <a href="" class="btn btn-primary btn-lg  btn-rounded px-5" style="font-weight:bold"> VOIR NOS PROGRAMMES</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="swiper-footer text-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <div class="mouse"></div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</section>
<!-- / cover -->
<!-- cta -->
<section class="separator-top">
  <div class="container">
    <div class="boxed bg-cooodit p-5 text-white " data-aos="zoom-in">
      <div class="row justify-content-between align-items-center text-center text-md-left">
        <div class="col-md-3">
          <h4 ><strong>Stages de Noël</strong> </h4>
        </div>
        <div class="col-md-6 text-center ">
          <h4><small class="text-white">Du lundi 23 décembre au 03 Janvier</small> </h4>
        </div>
        <div class="col-md-3 text-md-right mt-2 mt-md-0 ">
          <a href="https://cooodit.typeform.com/to/sLbWVh" class="btn btn-white btn-rounded px-1">J&apos;inscris mon enfant</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / cta -->
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8 text-center">
    <h2>Une expérience <b>complète et immersive 🚀</b></h2>
    <p>La pédagogie de cooodit se base sur six éléments fondamentaux adaptés aux exigences du numérique et aux <mark class="bg-yellow2">meilleurs standards de formation.</mark></p>
  </div>
</div>
<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 text-center">
        <i class="user">
          
        <img class="avatar user-rounded" src="../../assets/cooodit/icon_7.png" alt="Avatar">
        </i>
        <h4 class="fs-18 text-uppercase font-weight-normal"> APPRENEZ PAR <b class="text-primary">LA PRATIQUE</b></h4>
        <p>L&apos;apprentissage par la pratique est bien plus stimulant et plus efficace.  Nos formateurs sont avant tous des pédagogues qui enseigneront à vos enfants la programmation tout en s&apos;amusant.</p>
      </div>
      <div class="col-md-4 text-center">
      <i class="user">
          
      <img class="avatar user-rounded" src="../../assets/cooodit/icon_4.png" alt="Avatar">
      </i>
        <h4 class="fs-18 text-uppercase font-weight-normal">PÉDAGOGIE DE <b class="text-primary">PROJET</b></h4>
        <p>Il y a rien de mieux que l&apos;apprentissage en collectif ! L&apos;élève étant entièrement acteur de chaque étapes, la pédagogie de projet consiste à le mettre en posture active autour du projet commun.</p>
      </div>
      <div class="col-md-4 text-center">
      <i class="user">
          
      <img class="avatar user-rounded" src="../../assets/cooodit/icon_5.png" alt="Avatar">
      </i>
        <h4 class="fs-18 text-uppercase font-weight-normal">FORMATIONS ADAPTÉES À <b class="text-primary">TOUS LES NIVEAUX</b></h4>
        <p>Aucun prérequis n&apos;est nécessaire, nos ateliers sont ouverts à tous les niveaux. Le codage est à la porté de tous, la bonne humeur et beaucoup de motivation sont nos maîtres mots.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 text-center">
      <i class="user">
          
      <img class="avatar user-rounded" src="../../assets/cooodit/icon_6.png" alt="Avatar">
      </i>
        <h5 class="fs-18 text-uppercase font-weight-normal">ACCÈS À VIE <b class="text-primary">À NOTRE COMMUNAUTÉ D&apos;ALUMNI </b></h5>
        <p>Nous avons créé la communauté afin de vous accompagner tout au long de l&apos;aventure. Nos petits Alumni y auront accés même après avoir terminer le programme.</p>
      </div>
      <div class="col-md-4 text-center">
      <i class="user">
          
      <img class="avatar user-rounded" src="../../assets/cooodit/icon_3.png" alt="Avatar">
      </i>
        <h4 class="fs-18 text-uppercase font-weight-normal">AGENDA À  <b class="text-primary">LA CARTE</b></h4>
        <p>Vous avez la possibilité d&apos;inscrire vos enfants à nos ateliers du jour dispensés le Mercredi et Samedi, ou à nos ateliers périscolaire du soir du Lundi au Vendredi.</p>
      </div>
      <div class="col-md-4 text-center">
      <i class="user">
          
      <img class="avatar user-rounded" src="../../assets/cooodit/icon_8.png" alt="Avatar">
      </i>
        <h4 class="fs-18 text-uppercase font-weight-normal"> RÉDUCTION DE <b class="text-primary">10%</b></h4>
        <p>Nous proposons -10% sur nos ateliers et bootcamps pour les filles désirant débuter dans le monde du Digitale. La parité dans l&apos;informatique c&apos;est possible !!</p>
      </div>
    </div>
  </div>
</section>
<!-- accordion pricing -->
<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 text-center">
        <h2>NOS <b>ATELIERS 👩‍💻👨‍💻 </b></h2>
        <p> <mark class="bg-yellow2">3 types d'ateliers</mark> permettant à vos enfants d'acquérir des compétences rares
          <mark class="bg-yellow2">quelque soit leurs niveau initial.</mark></p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 col-lg-4" >
        <div class="card card-price rising">
            
          <div class="card-body">
           
            <h5 class="card-title text-center"> <strong>Ateliers Découverte</strong></h5> <br>
            <ul class="list-group list-group-minimal text-muted">
             
              <li class="list-group-item text-justify">Un atelier d&apos;initation à la programmation, au code et au développement de jeux vidéeo, d&apos;une durée de 1h30. Ludique et amusant ces ateliers sont ouverts à tous.</li>

            </ul>
          </div>
          
          <a href="" class="card-footer bg-cooodit">
              <strong class="text-white">EN SAVOIR PLUS</strong>
            </a>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="card card-price rising">
            
          <div class="card-body">
           
            <h5 class="card-title text-center"><strong>Ateliers Hebdomadaires</strong></h5><br>
            <ul class="list-group list-group-minimal text-muted">
              <li class="list-group-item text-justify"> Quoi de mieux qu&apos;une activité périscolaire qui change de l&apos;ordinaire ! Nos ateliers hebdomadaires d&apos;une durée de 1h30  débuteront après les classes du lundi au vendredi tout au long de l&apos;année scolaire.</li> 

              
            </ul>
          </div>
        
          <a href="" class="card-footer bg-cooodit">
              <strong class="text-white">EN SAVOIR PLUS</strong>
            </a>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="card card-price rising">
            
          <div class="card-body">
           
            <h5 class="card-title text-center"><strong>Bootcamps & Stages</strong></h5><br>
            <ul class="list-group list-group-minimal text-muted">
              <li class="list-group-item text-justify">Pendants les vacances scolaires vos enfants auront l&apos;occasion de réaliser un projet de leur choix en participant aux stage & bootcamp de 2 jours à 1 semaine que nous proposons. Ces stages sont l&apos;occasion de découvrir ou de se perfectionner autour d&apos;un projet numérique passionnant et amusant. </li>
              
            </ul>
          </div>
          
          <a href="" class="card-footer bg-cooodit">
              <strong class="text-white">EN SAVOIR PLUS</strong>
            </a> 
        </div>
      </div>
    </div>
    
  </div>
</section>
<!-- / accordion pricing -->

<!-- faq -->
<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 text-md-center">
        <h2>👉  « Dites, ... » - les <strong class="font-weight-bold">questions </strong> qu’on nous pose le plus souvent.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion-group accordion-group-minimal" data-accordion-group>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5> Quel type de connaissances les enfants peuvent-ils obtenir chez Cooodit ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Nos étudiants apprennent la pensée algorithmique, qui est une connaissance très précieuse, même si pas tous deviendront des programmeurs. Sur la base de cette connaissance, pendant que les enfants apprennent en jouant, nous leur apprenons de nouveaux langages de programmation et technologies en fonction de leur âge et de leur niveau de compétences.</p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Y a-t-il des compétences ou des connaissances requises pour postuler ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Aucune formation préliminaire, connaissances mathématiques ou informatiques exceptionnelles n'est requise. N'importe qui peut programmer, il vaut la peine de lui donner un essai !</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-6">
        <div class="accordion-group accordion-group-minimal" data-accordion-group>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5> À quel âge puis-je commencer à programmer? Quand est-ce que je peux commencer à fréquenter Cooodit?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Nos plus jeunes participants ont 7 ans, mais tu peux commencer à programmer à tout âge, il n&apos;est jamais trop tard </p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Y a-t-il des devoirs à la maison ? Des notes ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Non ! nous n&apos;imposons pas de travail personnel en dehors des ateliers. Néanmoins, il est tout à fait possible de continuer leur apprentissage à la maison</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / faq -->
<!-- cta -->
<section class="separator-top">
  <div class="container">
    <div class="boxed bg-cooodit p-5 text-white " data-aos="zoom-in">
      <div class="row justify-content-between align-items-center text-center text-md-left">
        <div class="col-md-3">
          <h4 ><strong>Stages de Noël</strong> </h4>
        </div>
        <div class="col-md-6 text-center ">
          <h4><small class="text-white">Du lundi 23 décembre au 03 Janvier</small> </h4>
        </div>
        <div class="col-md-3 text-md-right mt-2 mt-md-0">
          <a href="" class="btn btn-white btn-rounded px-1">J&apos;inscris mon enfant</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / cta -->