
<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
  <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
            rgba(0, 0, 0, 0.3),
            #7f15db  )">
  </div>
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-8">
            
      </div>
    </div>
  </div>    
</section>
<!-- / hero -->




<section class="bg-purple">

      <div class="container-fluid">
        <div class="row" data-aos="zoom-in">
          <div class="col">
            <div class="boxed p-5 p-lg-10">
              <div class="container">
                <div class="row justify-content-between align-items-center">
                




        <div class="container ">
          <div class="row">
            <div class="col-md-4 text-center">
              <i class="svg-icon fs-50 mb-1 ">
                
              </i>
              <h3 class="text-uppercase font-weight-normal fs-18 mt-2">Unique & Exclusive</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque velit dignissimos id repellat, consectetur dicta fugit</p>
            </div>
            <div class="col-md-4 text-center">
              <i class="svg-icon fs-50 mb-1 ">
                
              </i>
              <h3 class="text-uppercase font-weight-normal fs-18 mt-2">Carefully Crafted</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque velit dignissimos id repellat, consectetur dicta fugit</p>
            </div>
            <div class="col-md-4">
            <h2 class="h1">Find the right <br><b>room</b> for you.</h2>
            
<ul class="list-group list-group-line">
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-briefcase2 fs-24 text-orange"></i>
                <span>Type d'atelier : hebdomadaire.</span>
                
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-book2 fs-24 text-orange"></i>
                <span>Classes : CE1, CE2, CM1, CM2</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check-circle2 fs-24 text-orange"></i>
                <span>Session : du 22 janvier au 24 juin</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="far fa-credit-card fs-24 text-orange"></i>
                <span>Tarif : 250 € / session</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-book2 fs-24 text-orange"></i>
                <span>Horaires : Mercredi 14h00 - 15h30 </span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check-circle2 fs-24 text-orange"></i>
                <span>Lieu : campus de Pontoise</span>
              </li>
              
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check-circle2 fs-24 text-orange"></i>
                <span>Fast check-in included</span>
              </li>
            </ul>

            <button type="button" class="btn btn-with-ico btn-orange text-white mt-3">Make a Reservation <i class="icon-arrow-right2 fs-20"></i></button>
          </div>
          </div>
        </div>
      </div>


<br>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<br><br>
<section>